/* You can add global styles to this file, and also import other style files */

input.ng-invalid.ng-touched {
  background-color: red;
}

textarea.ng-invalid.ng-touched {
  background-color: red;
}

.is-invalid {
  color: red;
}
